
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<h1>Invitados</h1>



  <a href="/partys/"><h4>Grupos</h4></a>

  <button type="button"  onClick="location.href='/invitados/new'"">Agregar invitado</button>

  
  <table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Grupo</th>
    <th>Asistencia</th>
    <th>Email</th>
    <th>Telefono</th>
  </tr>
  <tr>
  	<% @invitados.each do |invitado| %>
    <td>
      <%= invitado.first_name %>
    </td>
    <td>
      <%= invitado.last_name %>
    </td>
    <td>
      <%= invitado.group%>
    </td>
    <td>
      <%= invitado.isgoing%>
    </td>
    <td>
      <%= invitado.email%>
    </td>
    <td>
      <%= invitado.phone%>
    </td>

    <td>
     
     <button type="button"  onClick="location.href='/invitados/<%= invitado.id%>/edit'"">Editar invitado</button>


<%= button_to "Eliminar", invitado_path(invitado),
                                method: :delete, data: { confirm: "Are you sure?" } %>

    

     </td>

     




</tr>
  <% end %>
  
</table>





